<div style="margin-top: 100px;">
  <div class="button-container">
    <button mat-raised-button (click)="newGame()" class="demo-button">
      Start new Game
    </button>
  </div>

  <table mat-table [dataSource]="highscoreUserList.data" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{element.username}}</td>
    </ng-container>

    <ng-container matColumnDef="highscore">
      <th mat-header-cell *matHeaderCellDef>Highscore</th>
      <td mat-cell *matCellDef="let element">{{element.highscore}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
